@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,400;1,500&display=swap");

/* Global Variables */
:root {
  --main: #6fa6d4;
  --secondary: #02214f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Besley", serif;
  outline: none;
  border: none;
  transition: 0.2s all linear;
  text-decoration: none;
  text-transform: capitalize;
}
*::selection {
  background: var(--main);
  color: #000;
}
html {
  font-size: 10px;
  overflow-x: hidden;
  /* scroll-behavior: smooth;
  scroll-padding-top: 7rem; */
}
section {
  padding: 1rem 9% 0 9%;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  margin-top: 1rem;
  padding: 0.5rem;
  padding-left: 1rem;
  font-size: 1.7rem;
  color: var(--main);
  border-radius: 0.5rem;
}
.btn span {
  background: var(--main);
  color: #fff;
  margin-left: 0.5rem;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
}
.btn:hover {
  background: var(--main);
  color: #fff;
}
.btn:hover span {
  color: var(--main);
  background: #fff;
  margin-left: 1.2rem;
}
.heading {
  text-align: center;
  font-size: 4rem;
  letter-spacing: 0rem;
  font-style: italic;
}
.heading span {
  color: var(--main);
}

/* Header/Navbar Start */
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 1rem 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.7);
  background: #fff;
}
 .header img{
  height: 6rem;
 }
.header .navbar a {
  color: #000;
  margin-left: 2rem;
  font-size: 1.7rem;
}
.header .navbar a:hover {
  color: var(--main);
}
#MenuBtn {
  background: #eee;
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--main);
  padding: 1rem 1.5rem;
  border-radius: 0.6rem;
  display: none;
}

/* Home Section Start */
.home {
  height: 844px;
  width: 100%;
  padding-top: 25rem;
  background: url(img/background.jpg) no-repeat center 100%;
}
.home .content h3 {
  font-size: 2.5rem;
  color: #fff;
  line-height: 1.2;
}
.home .content p {
  font-size: 1.7rem;
  color: #fff;
  padding: 1rem 0;
}

/* About us Section Start */
/* .about{
  padding: 1rem 0;
} */
.about .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}
.write-up {
  width: 45%;
  color: #333;
}
.write-up h3 {
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: bolder;
}
.write-up p {

  color: #333;
  font-size: 1.4rem;
  line-height: 1.8;
  text-align: justify;
}
.slider-container {
  width: 50%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.slider {
  display: flex;
  transition: transform 1s ease-in-out;
  height: 400px;
}
.slide {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}
.prev { 
  left: 10px; 
}
.next {
   right: 10px; 
  }

.prev:hover, .next:hover {
  background-color:var(--secondary);
  color: var(--main);

}

/* Icon Section Start */
.IconContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.IconContainer .icons {
  border: 0.2rem solid var(--main);
  border-radius: 50%;
  text-align: center;
  padding: 2.5rem;
}
.IconContainer .icons:hover {
  transform: scale(1.09);
  cursor: pointer;
}
.IconContainer .icons i {
  color: var(--main);
  padding-bottom: 0.7rem;
  font-size: 4.5rem;
}
.IconContainer .icons:hover i {
  transform: scale(1.8);
}
.IconContainer .icons h3 {
  font-size: 4.5rem;
  padding: 0.5rem 0;
}
.IconContainer .icons p {
  font-size: 1.7rem;
  color: #333;
}

/* Services Section Start */
.services p {
  color: #333;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: justify;
}
.services .boxContainer {
  display: grid;
  grid-template-columns: repeat(2,  1fr);
  gap: 2rem;
}
 .boxContainer li{
  color: #333;
  font-size: 1.5rem;
  line-height: 1.5;
 }

/* Doctors Section Start */
.doctors .boxContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}
.doctors .boxContainer .box {
  border-radius: 0.5rem;
  text-align: center;
  border: 0.2rem solid var(--main);
  box-shadow: 0.5rem 1rem 1.5rem rgba(0, 0, 0, 0.7);
  padding: 2rem;
}
.doctors .boxContainer .box:hover {
  transform: scale(1.03);
}
.doctors img {
  border: 0.2rem solid var(--main);
  border-radius: 0.5rem;
  height: 20rem;
  width: 100%;
  margin-top: 1rem;
  object-fit: cover;
  margin-bottom: 1rem;
}
.doctors .boxContainer .box:hover img {
  transform: scale(1.08);
}
.doctors .boxContainer .box h3 {
  font-size: 2.5rem;
}
.doctors .box span {
  color: var(--main);
  font-size: 1.5rem;
}
.doctors .boxContainer .box .icons {
  padding-top: 2rem;
}
.doctors .boxContainer .box .icons i {
  font-size: 2rem;
  line-height: 4.5rem;
  height: 5rem;
  width: 5rem;
  color: var(--main);
  border: 0.2rem solid var(--main);
  border-radius: 0.5rem;
  margin: 0.3rem;
  cursor: pointer;
}
.doctors .boxContainer .box .icons i:hover {
  background: var(--main);
  color: #fff;
}

/* Book Section Start */
.book .row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}
.book .row .img {
  flex: 1 1 25rem;
}
.book .row .img img {
  width: 100%;
}
.book .row form {
  flex: 1 1 25rem;
  border: 0.5rem solid var(--main);
  padding: 2rem;
  text-align: center;
  border-radius: 0.5rem;
}
.book form h3 {
  font-size: 3rem;
  padding-bottom: 1rem;
}
.book form .box {
  width: 100%;
  display: block;
  margin: 0.7rem 0;
  padding: 1rem;
  font-size: 1.6rem;
  border: 0.2rem solid var(--main);
}
.book .btn {
  cursor: pointer;
}

/* Review Section Start */
.review{
  width: 100%;
  overflow: hidden;
  background-color: #071d4c;
  position: relative;
  padding:5rem 9%;
  color: #333;
}
.review h1{
  color: #fff;
}
.review > p{
  font-size: 1.6rem;
  padding-bottom: 2rem;
  line-height: 1.5;
  text-align: center;
}
.review .standalone{
  color: #fff;
}
.review .testimonial-track{
  display: flex;
  gap: 20px;
  width: 200%;
  animation: scroll 30s linear infinite;
}
.review .box {
  flex: 0 0 300px;
  background-color: #fff;
  padding: 4rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
@keyframes scroll{
  from{transform: translateX(0);}
  to{transform: translateX(-50%);}
}
.review .box p {
  font-size: 1.6rem;
  padding-top: 4rem;
  line-height: 1.5;
} 
/* Blog Section Start */
.blogs .boxContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}
.blogs .boxContainer .box {
  border: 0.2rem solid var(--main);
  box-shadow: 0.5rem 1rem 1.5rem rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  padding: 2rem;
}
.blogs .boxContainer .box .image {
  height: 20rem;
  overflow: hidden;
  border-radius: 0.5rem;
}
.blogs .boxContainer .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.blogs .boxContainer .box:hover .image img {
  transform: scale(1.2);
}
.blogs .boxContainer .box .content {
  padding-top: 1rem;
}
.blogs .boxContainer .box .content .icon {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blogs .boxContainer .box .content .icon a {
  font-size: 1.4rem;
  color: #333;
}
.blogs .boxContainer .box .content .icon a:hover {
  color: var(--main);
}
.blogs .boxContainer .box .content .icon a i {
  padding-right: 0.5rem;
  color: var(--main);
}
.blogs .boxContainer .box .content h3 {
  color: #000;
  font-size: 3rem;
}
.blogs .boxContainer .box .content p {
  color: #333;
  font-size: 1.5rem;
  line-height: 1.8;
  padding: 1rem 0;
}

/* Footer */
body > footer{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 1rem 9%;
  /* margin-bottom: 2rem; */
  color: #fff;
  background-color: var(--secondary);
}
body > footer > div.get-in-touch{
  grid-column: 1/4;
}
body > footer > div.connect{
  grid-column: 4/5;
}
body > footer > div.navigation{
  grid-column: 6/7;
}
body > footer > div.location{
  grid-column: 8/10;
}
body > footer > p.copywright{
  grid-column: 1/13;
  grid-row: 2/3;
  text-align: center;
}
.footer h3{
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.4);
}
.footer p{
  font-size: 1.5rem;
  line-height: 1.8;
}
.footer a{
  color: #fff;
  font-size: 1.7rem;
  display: block;
}

/* Media Query */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .home .content h3 {
    font-size: 3rem;
  }
  section {
    padding: 1rem 5%;
  }
  .header {
    padding: 1rem 4%;
  }
  .header .navbar a {
    margin-left: 1rem;
    font-size: 1.7rem;
  }
  .content {
    flex-direction: column;
    text-align: center;
}
.write-up, .slider-container {
    width: 100%;
    max-width: 650px;
}
.slide {
  width: 100%;
  height: 120%; 
}
@media (max-width: 768px) {
  #MenuBtn {
    display: initial;
  }
  .header .navbar {
    position: absolute;
    top: 115%;
    left: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    border: 0.2rem solid #000;
    background: #fff;
    transform: scale(0);
    transform-origin: top right;
    opacity: 0;
    width: 30rem;
  }
  .header .navbar.active {
    opacity: 1;
    transform: scale(1);
    transition: 0.2s ease;
  }
  .header .navbar a {
    display: block;
    margin: 2.5rem;
    font-size: 2rem;
  }
  .book .img {
    display: none;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
    letter-spacing: 0;
  }
  .about h3{
    font-size: 2.5rem;
  }
  .slide {
    width: 100%;
    height: 100%; 
  }
}